@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --header-height: 3.5rem;
  --first-color: hsl(28, 93%, 49%);
  --title-color: hsl(0, 4%, 9%);
  --text-color: hsl(0, 0%, 1%);
  --body-color: hsl(0, 0%, 100%);
  --body-font:   font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --second-font: "Dancing Script", cursive;
  --h2-font-size: 1.55rem;
  --small-font-size: 0.813rem;
  --font-semi-bold: 600;
  --z-tooltip: 10;
  --z-fixed: 100;
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  font-family: var(--body-font);
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
